# Assignment 1 specification

The purpose of this assignment is to use EDA on two of the datasets met in class.

## Which datasets to consider?

In [99]:
import random

# Students should replace 12345678 with their student id (8-digit number, starting with 20)
myStudentId = 20098168

# Use myStudentId as the seed for the random number generator
random.seed(myStudentId)

dataSetToIgnore = random.choice(['Tips', 'Titanic', 'Algae'])
dataSetToIgnore

'Titanic'

Students should consider 2 sets from 'Tips', 'Titanic', 'Algae', ignoring the set that was randomly selected above.

##Start of EDA 1##

# Task 1: First pass - load data set and initial clean

##Start of Answer 1##

In [100]:
import pandas as pd
tips = pd.read_csv('data/tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [101]:
tips.rename(
    columns={
        'total_bill': 'TotalBill', 
        'tip': 'Tip', 
        'sex': 'CustomerGender',
        'smoker': 'IsSmoker', 
        'size': 'GroupSize',
        'day': 'Day',
        'time': 'TimeOfDay'
    },
    inplace=True
)
tips.columns

Index(['TotalBill', 'Tip', 'CustomerGender', 'IsSmoker', 'Day', 'TimeOfDay',
       'GroupSize'],
      dtype='object')

In [102]:
tips['IsSmoker'] = tips['IsSmoker'].map({'Yes': True, 'No': False})
tips[tips.select_dtypes(['object']).columns] = tips.select_dtypes(['object']).apply(lambda x: x.astype('category'))
tips.dtypes, tips.head()

(TotalBill          float64
 Tip                float64
 CustomerGender    category
 IsSmoker              bool
 Day               category
 TimeOfDay         category
 GroupSize            int64
 dtype: object,
    TotalBill   Tip CustomerGender  IsSmoker  Day TimeOfDay  GroupSize
 0      16.99  1.01         Female     False  Sun    Dinner          2
 1      10.34  1.66           Male     False  Sun    Dinner          3
 2      21.01  3.50           Male     False  Sun    Dinner          3
 3      23.68  3.31           Male     False  Sun    Dinner          2
 4      24.59  3.61         Female     False  Sun    Dinner          4)

In [103]:
tips.sort_values(['TotalBill', 'Tip'], ascending=[False, False]).head(),
tips.sort_values(['GroupSize', 'Tip'], ascending=[False, False]).head()

     TotalBill   Tip CustomerGender  IsSmoker   Day TimeOfDay  GroupSize
141      34.30  6.70           Male     False  Thur     Lunch          6
143      27.05  5.00         Female     False  Thur     Lunch          6
156      48.17  5.00           Male     False   Sun    Dinner          6
125      29.80  4.20         Female     False  Thur     Lunch          6
155      29.85  5.14         Female     False   Sun    Dinner          5

In [104]:
tips['TotalAmountSpent'] = tips['TotalBill'] + tips['Tip']
tips.head()

,TotalBill,Tip,CustomerGender,IsSmoker,Day,TimeOfDay,GroupSize,TotalAmountSpent
0,16.99,1.01,Female,False,Sun,Dinner,2,18.00
1,10.34,1.66,Male,False,Sun,Dinner,3,12.00
2,21.01,3.50,Male,False,Sun,Dinner,3,24.51
3,23.68,3.31,Male,False,Sun,Dinner,2,26.99
4,24.59,3.61,Female,False,Sun,Dinner,4,28.20

In [105]:
tips['TotalCostPerPerson'] = tips['TotalAmountSpent'] / tips['GroupSize']
tips.head()

,TotalBill,Tip,CustomerGender,IsSmoker,Day,TimeOfDay,GroupSize,TotalAmountSpent,TotalCostPerPerson
0,16.99,1.01,Female,False,Sun,Dinner,2,18.00,9.000
1,10.34,1.66,Male,False,Sun,Dinner,3,12.00,4.000
2,21.01,3.50,Male,False,Sun,Dinner,3,24.51,8.170
3,23.68,3.31,Male,False,Sun,Dinner,2,26.99,13.495
4,24.59,3.61,Female,False,Sun,Dinner,4,28.20,7.050

In [106]:
tips['Id'] = range(1, len(tips) + 1)
tips.set_index('Id', inplace=True)
tips.head()

,TotalBill,Tip,CustomerGender,IsSmoker,Day,TimeOfDay,GroupSize,TotalAmountSpent,TotalCostPerPerson
Id,,,,,,,,,
1,16.99,1.01,Female,False,Sun,Dinner,2,18.00,9.000
2,10.34,1.66,Male,False,Sun,Dinner,3,12.00,4.000
3,21.01,3.50,Male,False,Sun,Dinner,3,24.51,8.170
4,23.68,3.31,Male,False,Sun,Dinner,2,26.99,13.495
5,24.59,3.61,Female,False,Sun,Dinner,4,28.20,7.050

##End of Answer 1##

# Task 2: Second pass - individual features and target

##Start of Answer 2##

##End of Answer 2##

# Task 3: Third pass - relationships between features and target

##Start of Answer 3##

##End of Answer 3##

##End of EDA 1##

##Start of EDA 2##

# Task 1: First pass - load data set and initial clean

##Start of Answer 1##

##End of Answer 1##

# Task 2: Second pass - individual features and target

##Start of Answer 2##

##End of Answer 2##

# Task 3: Third pass - relationships between features and target

##Start of Answer 3##

##End of Answer 3##

##End of EDA 2##